Package: enigma2-plugin-extensions-ciefpSettingst2miabertis
Version: 2.2
Architecture: all
Section: extra
Priority: optional
Maintainer: .T30. @linuxsat-support.com
Description: add-ons installer for enigma2 images
